@media only screen and (min-width: 832px) {
    .navigation {
        display: flex;
    }

    /*remove hamburger menu*/
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    h2 {
        margin: .75em;
    }

    /*see forcast*/
    #five-day-forcast {
        display: block;
    }

    /*see map and align*/
    #contact-info {
        justify-content: space-evenly;
    }

    #map {
        display: block;
    }

    /*gallery page stlyes*/
    #gallery {
        grid-template-columns: 1fr 1fr;
        max-width: 960px;
        justify-content: center;   
    }
}