@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
}


table {
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 15px #628ca2;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
}

tfoot td,
thead tr:first-child th {
    background-color: #7fb9c2;
}

thead tr:first-child th {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

th,
#highlight {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed
}

tfoot {
    font-size: .65em;
}