* {
    margin: 0;
    box-sizing: border-box;
}

#banner {
    background-color: #f7f96A;
    font-family: 'Quicksand', sans-serif;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: #DBB4C2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}
h1,
h2,
h3,
h4 {
    font-family: 'Delius Unicase', cursive;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.heading {
    text-align: center;
}

.motto {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}

.navigation li:first-child {
    display: block;
}

nav,
footer {
    background-color: #8E6775;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

nav li a,
footer a {
    color: white;
    text-decoration: none;
}

nav a:link {
    color: white;
}


nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline overline;
}

#current {
    text-decoration: underline;
}

#current:hover {
    text-decoration: underline overline;
}

nav li {
    display: flex;
    font-size: 1.1em;
    padding: .5em;
    justify-content: space-around;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

main,
footer {
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    text-align: center;
    margin: .25em;
    font-size: 1.75em;
}

.contentbox {
    background-color: #DBB4C2;
    border:1px solid #8E6775;
    border-radius: .2em;
    padding: .75em;
    margin: .5em auto;
}

#hero img {
    width: 100%;
    margin: 0 auto;
}
#hero {
    position: relative;
}

#weather-summary {
    background-color: #8E6775;
    color: white;
    position: absolute;
    padding: 0px 15px;
    opacity: .9;
    border-radius: 10px;
    box-shadow: 0px 0px 30px white;
    top: 33px;
    left: 25px;   
}

#weather-summary h3 {
    text-align: left;
    text-decoration: underline overline;
    padding-top: 1em;
}

#category {
    display: inline-block;
    text-align: right;
    padding:  .25em;
    line-height: 1.5em;
}

#info {
    display: inline-block;
    padding:  .25em;
    color:  #f7f96A;
    line-height: 1.5em;
}

footer {
    text-align: center;
    padding: .5em;
}