@import url('https://fonts.googleapis.com/css?family=Delius+Unicase|Quicksand&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/*banner style*/
#banner {
    background-color: #f7f96A;
    font-family: 'Quicksand', sans-serif;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

/*general and header*/
header {
    background-color: #DBB4C2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}
h1,
h2,
h3,
h4 {
    font-family: 'Delius Unicase', cursive;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.heading {
    text-align: center;
}

.motto {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}

/*navigation*/
.navigation li:first-child {
    display: block;
}

nav,
footer {
    background-color: #8E6775;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

nav li a,
footer a {
    color: white;
    text-decoration: none;
}

nav a:link {
    color: white;
}


nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline overline;
}

#current {
    text-decoration: underline;
}

#current:hover {
    text-decoration: underline overline;
}

nav li {
    display: flex;
    font-size: 1.1em;
    padding: .5em;
    justify-content: space-around;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}


/*main content*/
main,
footer {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
}

h2 {
    text-align: center;
    margin: .5em;
    padding: .5em;
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

.contentbox {
    background-color: #DBB4C2;
    border:1px solid #8E6775;
    border-radius: .2em;
    padding: .75em;
    margin: .5em auto;
}

/*hero section*/
#hero img {
    width: 100%;
    margin: 0 auto;
}
#hero {
    position: relative;
}

/*weather summary box*/
#weather-summary {
    background-color: #8E6775;
    color: white;
    padding: 0px 15px;
    opacity: .9;
    border-radius: 10px;
    box-shadow: 0px 0px 30px white;
    position: relative;
    width: 22em;
    margin: 0 auto;
}

#weather-summary h3 {
    text-align: left;
    text-decoration: underline overline;
    padding-top: 1em;
}

#category {
    display: inline-block;
    text-align: right;
    padding:  .25em;
    line-height: 1.5em;
}

#info {
    display: inline-block;
    padding:  .25em;
    color:  #f7f96A;
    line-height: 1.5em;
}

#currentDescription {
    text-transform: capitalize;
}

/*5 day forecast*/
#five-day-forcast {
    display: none;
    margin: 1em;
}

#forecast-title {
    text-align: center;
    padding: .5em;
    width: 600px;
    margin: 0 auto;
}

#forecast-grid {
    display: grid;
    width: 600px;
    margin: 0 auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left:1px solid black;
}

#forecast-grid div {
    display: grid;
    justify-items: center;
    border-right: 1px solid black;
    padding: .2em
}

.forecast-day {
    background-color: #f7f96A;
    font-weight: bold;
    padding: .2em;
    border-bottom: 1px solid black;
}

.forecast-temp span::after{
    content: "\2109";
}

/*events*/
#events-header {
    text-decoration: underline;
    margin-bottom: .5em;
}


/*article*/

article img {
    box-shadow: 0px 0px 30px white;
    float: right;
    max-width: 100%; 
    margin: 0px 0px 20px 20px;
}

.author {
    font-style: italic;
}
.article-content {
    margin-left: 2em;
    margin-top: .5em;
}

.article-content a{
    color: #f7f96A;
}

/*contact section*/
#contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    display: none;
}

.socials a{
    text-decoration: none;
}

/*footer*/
footer {
    text-align: center;
    padding: .5em;
}

/*Gallery page CSS below here*/
#gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-gap: 10px;
}

#gallery figure {
    margin: .5rem;
}


#gallery figcaption {
    font-style: italic;    
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 1.5s;
}

/*Storm Center page CSS below here*/

form {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

form fieldset {
    width: 95%;
    margin: 1rem 0.5rem;
    border: 5px solid #dbb4c2;
    border-radius: 5px;
    padding: 1rem 2%;
}

form legend {
    color: #8e6775;
    font-weight: bold;
    font-family: 'Delius Unicase', cursive;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}
    
form label.top, form div, #slider {
    display: block;
    padding-top: 1rem; 
    font-weight: 500;
}

form label.top input, form label.top select, form textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: #fcfdc8;   
    color: gray;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

form #rating {
    margin: 1rem;
}

form input.submitButton {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
}

#thanks {
    text-align: center;
    margin: 1rem;
}


/*Home page CSS below here*/

.ourtowns {
    margin: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
}

.ourtowns > div {
    margin: 0 auto;
    grid-template-columns: 1fr;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    background-color: #8e6775;
    color: white;
    text-align: center;
    margin-top: 1em;
}

.ourtowns img {
    max-width: 100%;
}

.information {
    padding: .75em;
    line-height: 2em;
}

.ourtowns .motto {
    color: #f7f96A;
}
