@media only screen and (min-width: 768px) {
    .navigation {
        display: flex;
    }

    /*remove hamburger menu*/
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: inline-block;
        flex: 1 1 100%;
    }

    /*homepage grid*/
    .homeContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-template-areas: "a b";
        max-width: 1720px;
        margin: 0 auto;
    }
    
    .homeContent div {
        grid-area: a;
        margin: 2em;
        padding: 2em;
    }
    
    .homeContent img {
        grid-area: b;
        max-width: 100%;
        margin: 2em;
        padding: 2em;
    }

    .homeContent h2 {
        font-size: 2.5em;
        padding: 15px 0;
    }
}