@media only screen and (min-width: 768px) {
    .navigation {
        display: flex;
    }

    /*remove hamburger menu*/
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: inline-block;
        flex: 1 1 100%;
    }

    /*homepage sizing*/
    #callToAction h1 {
        font-size: 3.5em;
    }

    #callToAction p,
    #callToAction div {
        font-size: 1.75em;
        padding:10px;
    }

    .homeContent img {
        padding: 0 0 2em 2em;
    }

    /*dropdown*/
    nav ul ul li {
        right: 100%;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    form legend {
        font-size: 2em;
    }

}