@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:400,400i,700,700i&display=swap');

/*Basic Styles*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    background-color: #f8fffc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    font-weight: bolder;
    color: #5e6d27;
}

p {
    letter-spacing: .07em;
    line-height: 1.75em;
   
}

main {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 1.5em;
}

section {
    padding-bottom: 8em;
}


/* Style for individual headings */
h1 {
    font-size: 2.5em;
    margin: 0.67em 0;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
    padding-top: .50em; 
}

/* List Styles */
ul li {
    letter-spacing: .07em;
    line-height: 2em;
}

ol li {
    letter-spacing: .07em;
    line-height: 2em;
}

/* Non-Navigational Link Styles */
a:link {
    color: #121e0a;
    text-decoration: underline;
}

a:visited {
    color: #121e0a;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #918887;
}

/*Header*/
aside {
    text-align: center;
    background-color: #918887;
    padding: 20px;
    font-size: 1.25em;
    margin-bottom: -25px;
    color: #f8fffc;
}

#logo {
    max-width: 200px;
    position: relative;
    top: 40px;
    left: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    border: 2px #f8fffc ;
}

.hero {
    width: 100%;
    margin: 0 auto;
}

.navigation li:first-child {
    display: block;
}

nav,
footer {
    background-color: #121e0a;
    color: #f8fffc;
}

nav {
    margin-top: -180px;
}

nav ul {
    position: relative;
    list-style: none;
    margin-left: 210px;
}

nav li a,
footer a {
    color: #f8fffc);
    text-decoration: none;
    line-height: 60px;
}

nav a:link {
    color: #f8fffc;
    text-decoration: none;
}


nav a:visited {
    color: #f8fffc;
}

nav a:hover {
    font-style: italic;
    text-decoration: none;
}

#current {
    text-decoration: underline;
}

#current:hover {
    font-style: italic;
}

nav li {
    display: inline-block;
    font-size: 1.1em;
    padding: .5em; 
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

/*dropdown*/
#drop {
    display: inline-block;
}

nav ul ul {
	display: none;
    position: absolute; 

}

nav ul li:hover > ul {
    display:inherit;
    
}

nav ul ul li {
    width: 300px;
    margin: 0 auto;
	float:none;
	display:list-item;
    position: relative;
    background-color: #121e0a;
    right: 120%;
    font-size: 1em;

}

/*footer*/

footer {
    margin-top: 1em;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    clear: both;
}

footer ul {
    padding: 0px;
}

footer li {
    display: inline;
    padding: 3em;
}

footer a:link {
    color: #f8fffc;
    text-decoration: none;
}

footer a:visited {
    color: #f8fffc;
}

footer a:hover {
    color: #f8fffc;
    font-style: italic;
}

footer a:active {
    color: #f8fffc;
}

/*Homepage*/
#callToAction {
    text-align: center;
    margin-bottom: 100px;
}

#callToAction h1 {
    font-size: 2.5em;
    margin: 75px auto 0px;
}

#callToAction p,
#callToAction div 
{
    font-size: 1.5em;
    font-weight: bold;
    padding: .25em;
}

#button {
    background-color: #121e0a;
    color: #f8fffc;
    max-width: 400px;
    margin: 0 auto;
    padding: .5em;
}

.homeContent img {
    max-width: 100%;
    margin: 0 auto;
    float: right;
    padding: 1em 0;
}

.homeContent h2 {
    font-size: 2.5em;
    padding: 15px 0;
}

/*Temples Page*/
.degrees::after {
    content: "\2109";
}

.degrees {
    text-transform: capitalize;
}

.templePic {
    max-width: 100%;
    margin: 1em auto;
    float: right;
    padding:  0;
    border: 18px solid #918887;
}

/*Form*/
form {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    
}

form fieldset {
    width: 95%;
    margin: 1rem 0.5rem;
    border: 5px solid #121e0a;
    border-radius: 5px;
    padding: 1rem 2%;
    display: flex;
}

form legend {
    color:#5e6d27;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label {
    padding: 1em;
}

form input.submitButton {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
}

label input, 
label textarea{
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    display: block;
}

/*Reception Page*/
.flexPics {
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

figure {
    display: inline-block; 
    max-width: 800px;
    margin: 0 auto;
}

figure img {
    max-width: 100%;
    margin: 0 auto;
}

figcaption {
    max-width: 600px;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    margin: 0 auto;
}

.callout {
    font-size: 2em;
    font-weight: bold;
    padding: .25em;
    text-align: center;
    margin: 50px auto;
}
